/* general text formatting */
h1,
h2,
h3,
nav,
footer,
div {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}

/* header and footer */
header,
footer {
  color: white;
  background-color: #414040;
  height: 100px;
 
}

header h1 {
  padding: 8px 0px 0px 20px;
  font-size: 32px;
  font-weight: bold;
}

header p {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 16px;
  padding: 0 0 0 20px;
}

/* main article styling */
main {
  background-color: white;
}

section {
  margin-left: 16%;
  padding-top: 10px;
  width: 68%;
  float: left;
}

/* Form style */
legend {
  margin: 0;
  padding: 5px 0px;
  height: 27.2px;
  width: 100%;
  text-transform: uppercase;
  font-size: 21.6px;
  color: #ffffff;
  background-color: #808080;
}

legend span {
  display: inline;
  padding: 0px 0px 0px 15px;
}

fieldset {
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  width: 100%;
  border: none;
}

form p {
  margin-top: 8px;
  margin-left: 16px;
  padding: 0px 0px 0px 5px;
}
form input,
select {
  margin: 5px;
}

form input[type="submit"],
input[type="reset"] {
  margin: 10px 10px 10px 20px;
  font-size: medium;
  text-transform: capitalize;
}

section h2 {
  font-size: 21.6px;
  background-color: #919191;
  height: 27.2px;
  color: #f0f0f0;
  border: solid 1px black;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 0;
}

label img {
  margin: 16px 0px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*-------------------------->*/

nav {
  background-color: lightgray;
  width: 12% ;
  height:1500px;

  /*moving navigation bar to the left*/
  position: absolute;
  left: 0px;

  margin: 0em 4em 0.25em 4em;
  box-sizing: border-box;
}

nav table tr td{
  width: 150px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav table tr td a {
  text-decoration: none; /* Remove underline */
  color: black; /* Set text color to black */
  font-family: Arial;
  font-size: x-large;
}

nav table tr td:hover{
  background-color:#a1a1a5 ;
}

#Talentshow {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;

}

.info-box{
  width: 12%; /* Adjust width as needed */
  height: 1500px;
  background-color: #f0f0f0;
  padding: 20px;
  margin-right: 3%;
  margin-left: 1%;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  text-align: center;
  word-wrap: break-word;

}

#avatar00{
  width: 60% ;
}


/*Avatar Radio Button*/
.avatar-image{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.avatar{
  position:absolute;
}
